<div class="row">
  <ng-container *ngIf="recetas">
    <div class="col s12 m4" *ngFor="let receta of recetas">
      <div class="card" [routerLink]="['/receta', receta.id]">
        <div class="card-image">
          <img [src]="receta.foto" [alt]="receta.titulo" loading="lazy" />
        </div>
        <div class="card-content">
          <h2>{{ receta.titulo }}</h2>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="recetas.length == 0">
    <div class="empty">
      <h2>Lo sentimos, la recetas que estas buscando no existe aún...</h2>
    </div>
  </ng-container>
</div>
