<ng-container *ngIf="recetas">
  <div class="row">
    <div class="col s12 m4" *ngFor="let receta of recetas">
      <div class="card" [routerLink]="['/receta', receta.id]">
        <div class="card-image">
          <img [src]="receta.foto" [alt]="receta.titulo" />
          <span class="card-title">{{ receta.titulo }}</span>
        </div>
        <div class="card-content">
          <p>{{ receta.preparacion | slice: 0:100 }}...</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
