<main>
  <ng-container *ngIf="receta as receta">
    <div class="row">
      <div class="col">
        <h1 class="center-align">{{ receta.titulo }}</h1>

        <div class="img-container z-depth-1">
          <img [src]="receta.foto" [alt]="receta.titulo" loading="lazy" />
        </div>

        <div class="ingredientes">
          <h3>Ingredientes:</h3>
          <p>{{ receta.ingredientes }}</p>
        </div>

        <div class="preparacion">
          <h3>Preparación:</h3>
          <p>{{ receta.preparacion }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col center-align">
        <a class="waves-effect waves-light btn btn-custom" (click)="onReturn()"
          >Regresar</a
        >
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!receta">
    <app-spiner></app-spiner>
  </ng-container>
</main>
