.title {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
input:focus {
  border-bottom: none !important;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
}
