<app-receta [recetas]="recetas"></app-receta>

<mat-divider></mat-divider>

<div class="row title center-align">
  <!-- Modal Trigger -->

  <a
    class="waves-effect waves-light modal-trigger btn-custom btn-large"
    href="#modal1"
    >Carga tu propia receta</a
  >
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <!-- Form -->
    <form
      [formGroup]="customForm"
      autocomplete="off"
      (ngSubmit)="crearReceta(form)"
      #form="ngForm"
    >
      <div class="row">
        <div class="col s12 input-field">
          <input formControlName="titulo" type="text" id="titulo" />
          <label for="titulo">Titulo</label>
          <span class="error" *ngIf="tituloInvalid"
            >El titulo es obligatorio.</span
          >
        </div>
      </div>
      <div class="file-field input-field">
        <div class="btn btn-custom">
          <span>Foto</span>
          <input formControlName="foto" type="file" />
        </div>
        <div class="file-path-wrapper">
          <input
            class="file-path validate"
            type="text"
            placeholder="Carga una foto de tu receta"
          />
          <span class="error" *ngIf="fotoInvalid">La foto es obligatoria.</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <input formControlName="ingredientes" type="text" id="ingredientes" />
          <label for="ingredientes">Ingredientes</label>
          <span class="error" *ngIf="ingredientesInvalid"
            >Los ingredientes son obligatorios.</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <input formControlName="preparacion" type="text" id="preparacion" />
          <label for="preparacion">Preparacion</label>
          <span class="error" *ngIf="preparacionInvalid"
            >La preparación es obligatoria.</span
          >
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn red">Cancelar</a>
        <button
          [disabled]="customForm.invalid"
          type="submit"
          class="waves-effect waves-light btn btn-custom modal-close"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
